<div class="row message">
  <div class="message-caption span12">
    Author: <strong><%= message.author %></strong>, <strong>№ <%= message.id %></strong>
  </div>
  <% if message.image.exists? %>
    <div class="span3 image"><%= link_to image_tag(message.image.url(:thumb)), message.image.url %></div>
    <div class="span8 message"><%= message.message %></div>
  <% else %>
    <div class="span12 message"><%= message.message %></div>
  <% end %>
</div>