<div class="row topic">
  <div class="topic-caption span12">
    Author: <strong><%= topic.author %></strong>,
    Title: <strong><%= topic.title %></strong>,
    <strong>№ <%= topic.id %></strong>,
    <%= link_to "# [комментариев: #{topic.messages.count}]", section_topic_path(topic.section.slug, topic) %>
  </div>
  <% if topic.image.exists? %>
    <div class="span3 image"><%= link_to image_tag(topic.image.url(:thumb)), topic.image.url %></div>
    <div class="span8 message"><%= topic.message %></div>
  <% else %>
    <div class="span12 message"><%= topic.message %></div>
  <% end %>
  <% if reply %>
    <div class="topic-footer span12">
      <%= link_to "Ответить", section_topic_path(topic.section.slug, topic) %>
    </div>
  <% end %>
</div>